<div class="row">
    <div class="col-md-12">

        <%= form_for( @album, html: {class: 'form-inline'}) do |f| %>
        <div class="form-group">
            <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
            <%= f.submit class: "btn btn-default"%>
            <%= link_to 'Back', albums_path, class: "btn btn-default"  %>
        </div>
        <% end %>
    </div>
</div>
