<%= form_for @album do |f| %>
  <p>
    <%= f.label :title %> <br>
    <%= f.text_field :title %>
  </p>

  <p>
    <div class="actions">
                 <%= f.submit %>
               </div>
  </p>
<% end %>
