<%= form_tag(albums_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Album" %>
  <%= submit_tag "Search" %>
<% end %>
<% unless @albums.present? %>
  <p>There are no album containing the term(s) <%= params[:search] %>.</p>
<% end %>
