<h1>All Albums</h1>
<div >
    <%= render 'search_results'%>

    <div id="feed">
        <%= render @albums %>
    </div>

    <div id="infinite-scrolling">
        <%= will_paginate @albums %>
    </div>
</div>
