<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <%= image_tag("Oceans-Eleven.jpg", id: "picture",  class: "picture") %>
      <%= submit_tag "try it", id: "try-it", class: 'button-try'%>

    </div>
    <div class="col-md-1">
    </div>
</div>
